* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Overall */
html, body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2, 
h3 {
  padding-bottom: 20px;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.h-color {
  color: #f7c08a;
}

.bg-light {
  background: #f7c08a;
}

.bg-grey {
  background: #f4f4f4;

}
.bg-dark {
  background-color: #333333;
  color: white;
}

.btn-dark {
  display: inline-block;
  background-color: #333333;
  color: white;
  padding: 13px 20px;
  font-size: 18px;
  border: none;
}

.btn-dark:hover {
  background-color: #f7c08a;
  color: #333333;
}

.btn-light {
  display: inline-block;
  background-color: white;
  color: #333333;
  padding: 13px 20px;
  font-size: 18px;
}

.btn-light:hover {
  background-color: #f7c08a;
  color: #333333;
}


.clr {
  clear: both;
}
/* Navbar */

.navbar, footer {
  background: #333333;
  color: white;
  overflow: auto;
}

.navbar ul {
  float: right;
  list-style-type: none;
}

.navbar a {
  color: white;
}

.navbar h1 {
  float: left;
  padding-top: 20px;
}

.navbar ul li {
  float: left;
}

.navbar ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
}

.navbar ul a:hover, 
.navbar .current {
  background: #444444;
  color: #f7c08a;
}

/* First Section  */

.first-section {
  background: url('/images/showcase.jpg') no-repeat center center/cover;
  text-align: center;
}

.first-section .first-section-content {
  padding: 180px 0;
}

.first-section h1 {
  color: white;
  font-size: 60px;
  padding-bottom: 20px;
}

.first-section p {
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
  margin: 30px 0 10px 0;
}

/* Second Section  */

.img-advantages {
  float: left;
  background: url('/images/photo-1.jpg') no-repeat center center/cover;
  width: 50%;
  height: 400px;
}

.content-advantages {
  float: right;
  text-align: center;
  width: 50%;
  height: 400px;
  padding: 50px 30px;
  
}

.second-section h2 {
  padding-bottom: 20px;
}

.second-section p {
  padding-bottom: 30px;
  margin: 10px 0;
}

/* Facilities */

.third-section i {
  padding-bottom: 20px;
}
.box {
  text-align: center;
  float: left;
  width: 25%;
  padding: 50px;
  height: 200px;
}

/* Footer  */

footer {
  text-align: center;
  padding: 10px;
  background: #444444;
}
footer p {
  margin: 10px 0;
}


/* About Hotel */

.about-hotel {
  background-color: #f4f4f4;
  padding: 20px;
}

.about-container {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}
.about-hotel h1 {
  font-size: 40px;
}
.about-hotel p {
  margin-bottom: 10px;
}

.about-left {
  float: left;
  width: 50%;
}
.about-right {
  float: right;
  width: 50%;
}
.about-right img {
  border-radius: 30%;
  width: 300px;
}

/* Feedback */
.feedback {
  background: url('/images/test-bg.jpg') no-repeat center center/cover;
  padding: 100px;
  padding-bottom: 50px;
}
.feedback img {
  border-radius: 50%;
  width: 100px;
  float: left;
  margin-right: 20px;
}


.feedback .h1-white {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.feedback .feedback-guests {
  background: #f7c08a;
  padding: 20px;
  opacity: 0.9;
  margin-bottom: 40px;
  border-radius: 5px;
  
}


/* Contact */

.form-section {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}
.form-section h1 {
  font-size: 40px;
  padding-top: 10px;
}

.form-section p {
  padding: 10px 0;
}

input, 
label, 
textarea {
  width: 100%;
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #dddddd;
  
}
input:focus, textarea:focus {
  outline: none;
  border: 1px solid #f7c08a;
}
textarea {
  height: 200px;
}

/* Address */
.address {
  text-align: center;
  color: white;
}

.box-another {
  text-align: center;
  float: left;
  width: 33.333333333%;
  padding: 50px;
  height: 200px;
  background-color: #333333;
}
.box-another a {
  color: white;
}
.address p {
  margin: 10px;
}
